
@font-face {
  font-family: "Press Start 2P";
  src: url("fonts/PressStart2P-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "VT323";
  src: url("fonts/VT323-Regular.ttf") format("truetype");
}

:root {
  --ff-blue: #0000ab;
  --ff-silver: #b8b8b8;
}

*::before, *::after { 
  box-sizing: border-box; 
}

body {
    background-color: black;
    color: white;
    font-family: "VT323", 'Times New Roman', Times, serif;
}

input, button, select, textarea {
  font-family: inherit;
}


#output {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 8px;
}



.card h2 { 
  font-family: "Press Start 2P", 'Times New Roman', Times, serif; 
  font-weight: bold;
  font-size: 0.75em;
  margin: 0;

}
.card,
.panel {
  background: var(--ff-blue);
  border: 4px solid var(--ff-silver);
  border-radius: 8px;
  padding: 5px; 
}

.layout {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 25px;

}

.header {
  grid-column: 1/-1;
}


/* .card h2::before {
  content: "▶ ";
  color: silver;
} */


/* input[name="class"]:checked + label::before { content: "▶ "; }
input[name="class"]:not(:checked) + label::before { content: "  "; } */

